@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="button" id="connect-button" value="send over socket"/>
</div>

<script type="text/javascript">
    var id = null;
    var socket = null;

    const openWebSocketConnection = ()=>{
            id = crypto.randomUUID();

            socket = new WebSocket(`ws://localhost:5252/ws2?socketId=${id}`);
            socket.onopen = function (event) {
                    console.log('socket opened..');
            };

            socket.addEventListener("close", (event) => {
                console.log("The connection has been closed successfully.");
            });

            socket.onmessage = function (event) {
                console.log('data recieved from socket: ' + event.data);
            };
    }    

    addEventListener("DOMContentLoaded", (event) => {
        openWebSocketConnection();
    });

//$("#connect-button").on("click",()=>{
//    console.log("testing button...");
//})

const connectButton = document.getElementById("connect-button")
    
connectButton.onclick = ()=>{
    const xhr = new XMLHttpRequest();
    xhr.open("GET", `Home/UpdateStatus?socketId=${id}`);
    xhr.send();
    //console.log("testing button...");
    //openWebSocketConnection();
}

   
</script>
