@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chat with Web Scokets</h1>
    <input type="button" id="connect-button" value="send over socket"/>
    <input type="text" id="message-box"/>
    <div style="min-height: 100px; border: 1px ridge" id="chat-box">

    </div>
</div>

<script type="text/javascript">
    var id = null;
    var socket = null;

    const sendOverSocketButton = document.getElementById("connect-button")
    const messageBox = document.getElementById("message-box");
    const chatBox = document.getElementById("chat-box");

    const openWebSocketConnection = ()=>{
        id = crypto.randomUUID();

        socket = new WebSocket(`ws://localhost:5252/ws2?socketId=${id}`);
        socket.onopen = function (event) {
                console.log('socket opened..');
        };
            
        socket.addEventListener("close", (event) => {
            console.log("The connection has been closed successfully.");
        });

        socket.onmessage = function (event) {
            appendMessage(event.data);
        };
    }       

    const appendMessage = (message)=>{
        let messageDiv = document.createElement("div");
        messageDiv.innerHTML = message;

        chatBox.appendChild(messageDiv)
    }

    addEventListener("DOMContentLoaded", (event) => {
        openWebSocketConnection();
    });

    sendOverSocketButton.onclick = ()=>{
        if(messageBox.value){
            socket.send(messageBox.value);
            messageBox.value = "";
        }
    }
</script>
